body {
    font-family: 'Pacifico', cursive;
}

nav {
   
}
.about {
    margin: 20px 0;
    text-align: center;
}
.navbar-brand {
    font-size: 50px;
}

.nav-item {
    font-size: 12pt;
    border-radius: 5px;
    margin-right: 20px;
    padding: 5px;
}
.landing-div {
    background-image: url("../images/blueberries.jpeg");
    height: 800px;
    width: 100%;
    font-size: 24pt;
}
.col-img {
    width: 100%;
}

.col-lg-4 {
    font-family: 'Open Sans', sans-serif;
}
.joke {
    padding-top: 100px;
    margin-left: 55%;
    width: 20%;
}
h6 {
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}